Repository zanganeh/catalyst-studio: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

fix
  docs/ai-tools-requirements-document.md
  docs/epic-5-architecture.md
  docs/epic-5-prd.md
  docs/epic-5-requirements-document.md
  docs/stories/5.1.story.md
Due: none

feat(ai-tools): implement foundation tool infrastructure and context provider
  __tests__/api/chat-tools.test.ts
  __tests__/integration/ai-tools-integration.test.ts
  app/api/chat/route.ts
  docs/stories/5.1.story.md
  lib/ai-tools/__tests__/context-provider.test.ts
  lib/ai-tools/__tests__/tool-executor.test.ts
  lib/ai-tools/context/context-provider.ts
  lib/ai-tools/executor/tool-executor.ts
  lib/ai-tools/index.ts
  lib/ai-tools/tools/index.ts
Due: unit, integration

docs: update story 5.1 status to Ready for Review - implementation complete
  docs/stories/5.1.story.md
Due: none

docs: add QA review results for Story 5.1
  docs/stories/5.1.story.md
Due: none

fix(ci): update GitHub Actions workflow to use SQLite instead of PostgreSQL
  .github/workflows/test-coverage.yml
Due: none

feat(ai-tools): implement website management tools for Story 5.2
  __tests__/integration/website-tools.test.ts
  docs/stories/5.2.story.md
  lib/ai-tools/__tests__/business-rules.test.ts
  lib/ai-tools/business-rules.ts
  lib/ai-tools/tools/index.ts
  lib/ai-tools/tools/website/__tests__/get-website-context.test.ts
  lib/ai-tools/tools/website/__tests__/update-business-requirements.test.ts
  lib/ai-tools/tools/website/__tests__/validate-content.test.ts
  lib/ai-tools/tools/website/get-website-context.ts
  lib/ai-tools/tools/website/index.ts
  lib/ai-tools/tools/website/update-business-requirements.ts
  lib/ai-tools/tools/website/validate-content.ts
Due: unit

sotry updateu
  docs/stories/5.1.story.md
  docs/stories/5.2.story.md
Due: none

fix: resolve TypeScript casting issues in metadata handling
  docs/stories/5.3.story.md
  lib/ai-tools/tools/website/get-website-context.ts
  lib/ai-tools/tools/website/update-business-requirements.ts
  lib/ai-tools/tools/website/validate-content.ts
Due: unit

story updated
  docs/stories/5.3.story.md
Due: none

feat(ai-tools): implement content type management tools for Story 5.3
  lib/ai-tools/tools/content-types/__tests__/create-content-type.test.ts
  lib/ai-tools/tools/content-types/__tests__/get-content-type.test.ts
  lib/ai-tools/tools/content-types/__tests__/list-content-types.test.ts
  lib/ai-tools/tools/content-types/__tests__/update-content-type.test.ts
  lib/ai-tools/tools/content-types/create-content-type.ts
  lib/ai-tools/tools/content-types/get-content-type.ts
  lib/ai-tools/tools/content-types/index.ts
  lib/ai-tools/tools/content-types/list-content-types.ts
  lib/ai-tools/tools/content-types/update-content-type.ts
  lib/ai-tools/tools/index.ts
Due: unit

docs: update Story 5.3 completion status
  docs/stories/5.3.story.md
Due: none

story updated
  docs/stories/5.3.story.md
  docs/stories/5.4.story.md
Due: none

fix: resolve infinite render loop in Content Manager
  app/(dashboard)/content/page.tsx
Due: integration

feat(ai-tools): implement content item management tools for Story 5.4
  docs/stories/5.4.story.md
  lib/ai-tools/tools/content-items/__tests__/create-content-item.test.ts
  lib/ai-tools/tools/content-items/__tests__/list-content-items.test.ts
  lib/ai-tools/tools/content-items/__tests__/update-content-item.test.ts
  lib/ai-tools/tools/content-items/create-content-item.ts
  lib/ai-tools/tools/content-items/index.ts
  lib/ai-tools/tools/content-items/list-content-items.ts
  lib/ai-tools/tools/content-items/update-content-item.ts
  lib/ai-tools/tools/index.ts
Due: unit

fix: resolve TypeScript type assertion in update-content-item
  docs/stories/5.4.story.md
  lib/ai-tools/tools/content-items/update-content-item.ts
Due: unit

story update
  docs/stories/5.4.story.md
  docs/stories/5.5.story.md
Due: none

feat(story-5.5): implement chat interface enhancement and tool integration
  components/chat/enhanced-base-chat.tsx
  components/chat/enhanced-chat-panel.tsx
  components/chat/error-message-display.tsx
  components/chat/index.tsx
  components/chat/streaming-indicator.tsx
  components/chat/tool-execution-display.tsx
  docs/stories/5.5.story.md
  docs/stories/5.6.story.md
Due: unit

docs: update Story 5.5 status to Ready for Review and mark all tasks complete
  docs/stories/5.5.story.md
Due: none

feat(chat): implement QA feedback for Story 5.5 - enhanced chat UI
  components/chat/__tests__/enhanced-base-chat.test.tsx
  components/chat/__tests__/error-message-display.test.tsx
  components/chat/__tests__/streaming-indicator.test.tsx
  components/chat/__tests__/tool-execution-display.test.tsx
  components/chat/chat-error-boundary.tsx
  components/chat/enhanced-base-chat.tsx
  components/chat/enhanced-chat-panel.tsx
  components/chat/tool-execution-display.tsx
  docs/requirements/content-sync/model-sync-in-dontnet.md
  docs/requirements/content-sync/opti-cms-sass-api-spec.json
  docs/stories/5.5.story.md
Due: unit

fix: resolve TypeScript compilation errors in tool-execution-display
  components/chat/tool-execution-display.tsx
Due: unit

feat(story-5.6): implement comprehensive testing and production readiness
  README.md
  docs/epic-5-testing-guide.md
  docs/stories/5.6.story.md
  lib/ai-tools/audit-logger.ts
  tests/e2e/epic-5-ai-tools.spec.ts
  tests/epic-5/ai-tools.test.ts
  tests/epic-5/content-item-tools.test.ts
  tests/epic-5/content-type-tools.test.ts
  tests/epic-5/error-recovery.test.ts
  tests/epic-5/performance.test.ts
  tests/epic-5/website-tools.test.ts
Due: unit

fix(story-5.6): resolve critical issues and pass QA review
  app/api/chat/route.ts
  components/chat/chat-with-persistence.tsx
  debug-root-page.png
  docs/requirements/content-sync/strapi-sync-adapter-architecture.md
  docs/requirements/content-sync/sync-adapter-architecture.md
  docs/stories/5.6-critical-fixes.md
  docs/stories/5.6-qa-report.md
  docs/stories/5.6.story.md
  hooks/use-chat-persistence.ts
  jest.config.js
  lib/ai-tools/tools/index.ts
  lib/api/hooks/use-ai-context.ts
  next.config.ts
  test-tools.js
  tests/epic-5/ai-tools.test.ts
  tests/epic-5/simple-tools.test.ts
Due: unit, integration

fix: address PR review feedback - enable ESLint and add PR template
  .github/pull_request_template.md
  docs/recommendations/test-refactoring.md
  next.config.ts
Due: none

end of story 5 cleanup
  docs/ai-context-integration-summary.md
  docs/archive/epic-5/5.1.story.md
  docs/archive/epic-5/5.2.story.md
  docs/archive/epic-5/5.3.story.md
  docs/archive/epic-5/5.4.story.md
  docs/archive/epic-5/5.5.story.md
  docs/archive/epic-5/5.6-critical-fixes.md
  docs/archive/epic-5/5.6-qa-report.md
  docs/archive/epic-5/5.6.story.md
  docs/archive/epic5-ai-tools-requirements-document.md
  docs/archive/epic5-architecture.md
  docs/archive/epic5-prd.md
  docs/archive/epic5-requirements-document.md
  docs/archive/epic5-testing-guide.md
  docs/stories/test-failed-fix.md
Due: none

fix: resolve AI response stuck, transaction timeout, and content type issues
  app/api/chat/route.ts
  components/chat/__tests__/enhanced-base-chat.test.tsx
  components/chat/base-chat.tsx
  components/chat/enhanced-base-chat.tsx
  components/chat/index.tsx
  components/studio/studio-chat-wrapper.tsx
  debug-root-page.png
  dev.log
  lib/ai-tools/context/context-provider.ts
  lib/ai-tools/tools/website/update-business-requirements.ts
Due: unit, integration

refactor: remove unused WebsiteService import
  lib/ai-tools/tools/website/update-business-requirements.ts
Due: unit

fix: resolve enhanced-base-chat import error and add Epic 7 requirements
  components/chat/enhanced-chat-panel.tsx
  docs/epic7-chat-ux-requirements.md
Due: unit

feat: integrate PoC sync engine into main application
  components/deployment/content-mapping.tsx
  components/deployment/deployment-history.tsx
  components/deployment/deployment-progress.tsx
  components/deployment/deployment-wizard.tsx
  docs/epic6-brownfield-architecture.md
  docs/epic6-brownfield-prd.md
  docs/epic6-content-sync-requirements.md
  docs/epic6-project-brief.md
  docs/stories/6.1.story.md
  lib/sync/adapters/optimizely-api-client.js
  lib/sync/engine/SyncEngine.ts
  lib/sync/engine/sync-orchestrator.js
  lib/sync/extractors/database-extractor.js
  lib/sync/transformers/optimizely-transformer.js
  lib/sync/types/sync.ts
Due: unit

docs: update story 6.1 with completion status and dev agent record
  docs/stories/6.1.story.md
Due: none

fix: remove duplicate eslint-disable comment in SyncEngine
  docs/stories/6.1.story.md
  lib/sync/engine/SyncEngine.ts
Due: unit

fix: address QA feedback from code review
  components/deployment/content-mapping.tsx
  lib/sync/engine/SyncEngine.ts
Due: unit

feat: complete Story 6.1 - Integrate PoC Sync Engine into Main Application
  app/api/extract-content-types/route.ts
  app/api/sync/start-deployment/route.ts
  components/deployment/content-mapping.tsx
  components/deployment/deployment-history.tsx
  components/deployment/deployment-progress.tsx
  docs/stories/6.1.story.md
  lib/sync/client/sync-service.ts
  package-lock.json
  package.json
Due: unit, integration

fix: address PR review feedback - improve type safety
  app/api/extract-content-types/route.ts
  app/api/sync/start-deployment/route.ts
  lib/deployment/deployment-types.ts
  lib/sync/client/sync-service.ts
  lib/sync/engine/SyncEngine.ts
Due: unit, integration

fix: resolve chat route type error for MVP compliance
  app/api/chat/route.ts
Due: integration

refactor: convert sync module from JS to TypeScript for type safety
  app/api/chat/route.ts
  app/api/extract-content-types/route.ts
  docs/stories/6.2.story.md
  lib/sync/adapters/optimizely-api-client.ts
  lib/sync/engine/SyncEngine.ts
  lib/sync/engine/sync-orchestrator.ts
  lib/sync/extractors/__tests__/database-extractor.test.ts
  lib/sync/extractors/database-extractor.ts
  lib/sync/transformers/__tests__/optimizely-transformer.test.ts
  lib/sync/transformers/optimizely-transformer.ts
Due: unit, integration

further testing for code refactor
  docs/stories/6.1.story.md
Due: none

fix: remove JavaScript PoC leaks and implement proper TypeScript patterns
  app/api/extract-content-types/route.ts
  app/studio/deployment/page.tsx
  components/deployment/content-mapping.tsx
  components/deployment/deployment-wizard.tsx
  lib/sync/adapters/optimizely-api-client.ts
  lib/sync/engine/SyncEngine.ts
  lib/sync/engine/sync-orchestrator.ts
  lib/sync/extractors/database-extractor.ts
  lib/sync/storage/database-storage.ts
Due: unit, integration

fix: address critical PR feedback and security vulnerabilities
  app/(dashboard)/content/error.tsx
  app/(dashboard)/content/loading.tsx
  app/(dashboard)/content/page.tsx
  app/api/csrf-token/route.ts
  components/content/content-error-boundary.tsx
  components/content/content-list.tsx
  components/content/content-modal.tsx
  components/content/form-generator.tsx
  docs/epic6-architecture.md
  docs/epic6-prd.md
  docs/epic6-requirements.md
  lib/security/csrf.ts
  lib/stores/content-store.ts
  lib/utils/api-client.ts
  lib/utils/security.ts
Due: unit, integration

fix: resolve remaining critical PR issues - phase 2
  app/(dashboard)/content/page.tsx
  components/content/content-list-virtual.tsx
  components/content/content-modal.tsx
  components/content/form-generator.tsx
Due: unit, integration

docs: add Next.js architecture improvements to backlog
  docs/stories/backlog.md
Due: none

Path conditions:
  unit: any of: components/, hooks/, lib/, but not: **/*.d.ts, lib/generated/**, coverage/**, jest.config.js, jest.setup.js, jest.sequencer.js, jest.global-setup.js, jest.global-teardown.js, playwright.config.ts, next.config.ts, tailwind.config.ts, postcss.config.mjs, scripts/**, prisma/**, docs/**, **/__tests__/**, **/test-*, app/layout.tsx, app/page.tsx, app/**/layout.tsx, app/**/loading.tsx, app/**/not-found.tsx, app/**/error.tsx
  integration: any of: app/, but not: **/*.d.ts, lib/generated/**, coverage/**, jest.config.js, jest.setup.js, jest.sequencer.js, jest.global-setup.js, jest.global-teardown.js, playwright.config.ts, next.config.ts, tailwind.config.ts, postcss.config.mjs, scripts/**, prisma/**, docs/**, **/__tests__/**, **/test-*, app/layout.tsx, app/page.tsx, app/**/layout.tsx, app/**/loading.tsx, app/**/not-found.tsx, app/**/error.tsx
