Repository zanganeh/catalyst-studio: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

refactor: remove axios dependency and use native fetch API
  lib/sync/adapters/optimizely-api-client.ts
  lib/sync/engine/sync-orchestrator.ts
  package-lock.json
  package.json
Due: unit

refactor: remove sqlite3 dependency and use Prisma for database access
  app/api/extract-content-types/route.ts
  lib/sync/engine/SyncEngine.ts
  lib/sync/extractors/database-extractor.ts
  package-lock.json
  package.json
Due: unit, integration

fix: Complete sync engine integration from Story 6.1
  app/api/sync/start-deployment/route.ts
  lib/hooks/use-file-download.ts
  lib/sync/adapters/optimizely-api-client.ts
  lib/sync/engine/SyncEngine.ts
  lib/sync/extractors/database-extractor.ts
  prisma/migrations/20250816010934_add_deployment_model/migration.sql
Due: unit, integration

fix: Complete PR #26 test fixes and remaining changes
  __tests__/api/chat-tools.test.ts
  __tests__/integration/website-tools.test.ts
  app/api/content-items/route.ts
  app/api/content-types/route.ts
  app/api/extract-content-types/route.ts
  app/studio/deployment/page.tsx
  components/chat/__tests__/streaming-indicator.test.tsx
  components/chat/streaming-indicator.tsx
  components/dashboard/__tests__/quick-category-tags.test.tsx
  components/deployment/cms-provider-selector.test.tsx
  components/deployment/content-mapping.tsx
  components/deployment/deployment-wizard.test.tsx
  components/deployment/deployment-wizard.tsx
  components/development/editor-error-boundary.test.tsx
  e2e/epic-4/content-items-api.spec.ts
  lib/ai-tools/business-rules.ts
  lib/ai-tools/tools/content-items/__tests__/create-content-item.test.ts
  lib/ai-tools/tools/content-types/__tests__/create-content-type.test.ts
  lib/ai-tools/tools/content-types/__tests__/get-content-type.test.ts
  lib/ai-tools/tools/content-types/__tests__/list-content-types.test.ts
  lib/ai-tools/tools/content-types/__tests__/update-content-type.test.ts
  lib/ai-tools/tools/content-types/create-content-type.ts
  lib/ai-tools/tools/content-types/update-content-type.ts
  lib/ai-tools/tools/website/__tests__/update-business-requirements.test.ts
  lib/api/validation/content-type.ts
  lib/sync/extractors/__tests__/database-extractor.test.ts
  lib/sync/storage/database-storage.ts
  prisma/schema.prisma
Due: unit, integration

fix: address critical PR #26 issues
  app/api/content-items/route.ts
  app/api/sync/start-deployment/route.ts
  lib/api/validation/deployment.ts
  lib/sync/deployment-queue.ts
  lib/sync/engine/SyncEngine.ts
  lib/sync/extractors/database-extractor.ts
  lib/sync/storage/database-storage.ts
  lib/sync/utils/transaction-manager.ts
  lib/utils/safe-json.ts
Due: unit, integration

fix: address final security vulnerabilities in PR #26
  app/api/sync/start-deployment/route.ts
Due: integration

fix: resolve deployment issues and complete Epic 6.1 sync integration
  app/studio/deployment/page.tsx
  components/deployment/deployment-progress.tsx
  docs/stories/6.1.story.md
  lib/api/validation/deployment.ts
  lib/security/csrf.ts
  lib/sync/client/sync-service.ts
  lib/sync/utils/transaction-manager.ts
Due: unit, integration

feat: implement centralized hash system for content type versioning
  docs/stories/6.2.story.md
  lib/ai-tools/tools/content-types/create-content-type.ts
  lib/ai-tools/tools/content-types/update-content-type.ts
  lib/services/content-type-service.ts
  lib/sync/versioning/ContentTypeHasher.ts
  lib/sync/versioning/VersionHistoryManager.ts
  lib/sync/versioning/__tests__/ContentTypeHasher.test.ts
  lib/sync/versioning/__tests__/VersionHistoryManager.test.ts
  lib/sync/versioning/__tests__/integration.test.ts
  prisma/migrations/20250817080752_add_content_type_versions/migration.sql
  prisma/schema.prisma
Due: unit

docs: add QA review results for Story 6.2 - Centralized Hash System
  docs/stories/6.2.story.md
Due: none

fix: remove duplicate name property in version tracking
  lib/services/content-type-service.ts
Due: unit

feat: implement version history tracking with Merkle tree structure
  app/api/v1/versions/[hash]/diff/route.ts
  app/api/v1/versions/[typeKey]/route.ts
  app/api/v1/versions/[typeKey]/tree/route.ts
  docs/stories/6.3.story.md
  lib/services/content-type-service.ts
  lib/sync/versioning/VersionDiff.ts
  lib/sync/versioning/VersionHistoryManager.ts
  lib/sync/versioning/VersionTree.ts
  lib/sync/versioning/__tests__/VersionDiff.test.ts
  lib/sync/versioning/__tests__/VersionHistoryManager.test.ts
  lib/sync/versioning/__tests__/VersionTree.test.ts
  prisma/migrations/20250817095900_add_version_parents/migration.sql
  prisma/schema.prisma
Due: unit, integration

docs: update Story 6.3 with completion status and dev agent record
  docs/stories/6.3.story.md
Due: none

fix: Apply QA feedback and fix version history issues
  app/api/v1/versions/[typeKey]/route.ts
  app/api/v1/versions/[typeKey]/tree/route.ts
  app/api/v1/versions/diff/route.ts
  docs/stories/6.3.story.md
Due: integration

feat: implement sync history tracking (Story 6.4)
  app/api/v1/sync/[syncId]/route.ts
  app/api/v1/sync/[syncId]/status/route.ts
  app/api/v1/sync/[typeKey]/history/route.ts
  app/api/v1/sync/analytics/route.ts
  app/api/v1/sync/history/route.ts
  components/sync/SyncHistoryTable.tsx
  components/ui/table.tsx
  docs/stories/6.4-optimizely-sync.story.md
  lib/services/deployment-service.ts
  lib/sync/adapters/optimizely-api-client.ts
  lib/sync/tracking/SyncAnalytics.ts
  lib/sync/tracking/SyncHistoryManager.ts
  lib/sync/tracking/SyncSnapshot.ts
  lib/sync/tracking/__tests__/SyncAnalytics.test.ts
  lib/sync/tracking/__tests__/SyncHistoryManager.test.ts
  lib/sync/tracking/__tests__/SyncSnapshot.test.ts
  prisma/migrations/20250817121720_add_sync_history/migration.sql
  prisma/schema.prisma
Due: unit, integration

docs: update Story 6.4 with completion status and dev agent record
  docs/stories/6.4-optimizely-sync.story.md
Due: none

fix issue of circular dependency
  app/(dashboard)/content/page.tsx
  app/api/v1/sync/type/[typeKey]/route.ts
  app/studio/[id]/page.tsx
  components/deployment/deployment-history.tsx
  components/sync/SyncHistoryTable.tsx
  docs/stories/6.4-optimizely-sync.story.md
  lib/api/hooks/use-websites.ts
  lib/services/ai-context-service.ts
  lib/stores/content-store.ts
Due: unit, integration

fix story status
  docs/stories/6.4-optimizely-sync.story.md
Due: none

fix: resolve critical issues from PR #29 review
  app/(dashboard)/content/page.tsx
  components/deployment/deployment-history.tsx
  docs/stories/6.5.story.md
  lib/stores/content-store.ts
  lib/sync/tracking/SyncHistoryManager.ts
  lib/sync/tracking/SyncSnapshot.ts
Due: unit, integration

feat(sync): implement hash-based change detection
  app/api/v1/sync/changes/route.test.ts
  app/api/v1/sync/changes/route.ts
  docs/stories/6.5.story.md
  lib/services/deployment-service.ts
  lib/sync/persistence/SyncStateManager.ts
  prisma/migrations/20250817224256_add_sync_state_table/migration.sql
  prisma/schema.prisma
Due: unit, integration

fix: resolve critical issues from PR #29 review
  app/api/v1/sync/changes/route.ts
  docs/stories/6.5.story.md
  lib/deployment/mock-deployment-service.ts
  lib/services/deployment-service.ts
  lib/sync/detection/ChangeDetector.ts
Due: unit, integration

feat(sync): add conflict detection with three-way diff
  app/api/v1/sync/conflicts/route.ts
  docs/stories/6.6.story.md
  lib/services/deployment-service.ts
  lib/sync/conflict/ConflictDetector.ts
  lib/sync/conflict/ConflictManager.ts
  lib/sync/conflict/ResolutionStrategy.ts
  lib/sync/conflict/ThreeWayDiff.ts
  prisma/migrations/20250817235751_add_conflict_detection_tables/migration.sql
  prisma/schema.prisma
Due: unit, integration

docs: update story 6.6 status to Ready for Review
  docs/stories/6.6.story.md
Due: none

feat: migrate database from SQLite to PostgreSQL
  __tests__/api/ai-context-api.test.ts
  __tests__/api/ai-context.test.ts
  __tests__/database/seed.test.ts
  app/api/ai-context/[sessionId]/route.ts
  jest.global-setup.js
  lib/ai-tools/audit-logger.ts
  lib/services/ai-context-service.ts
  lib/sync/versioning/VersionHistoryManager.ts
  lib/sync/versioning/__tests__/VersionHistoryManager.test.ts
  prisma/migrations/20250812080557_init/migration.sql
  prisma/migrations/20250812114219_add_cascade_deletes/migration.sql
  prisma/migrations/20250813010401_add_content_items_fields/migration.sql
  prisma/migrations/20250813022931_extend_website_model/migration.sql
  prisma/migrations/20250813113143_add_ai_context/migration.sql
  prisma/migrations/20250816010934_add_deployment_model/migration.sql
  prisma/migrations/20250817080752_add_content_type_versions/migration.sql
  prisma/migrations/20250817095900_add_version_parents/migration.sql
  prisma/migrations/20250817121720_add_sync_history/migration.sql
  prisma/migrations/20250817224256_add_sync_state_table/migration.sql
  prisma/migrations/20250817235751_add_conflict_detection_tables/migration.sql
  prisma/migrations/20250818023621_init_postgresql/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/schema.prisma
  prisma/seed.ts
Due: unit, integration

fix: correct schema field reference in content-type-service
  lib/services/content-type-service.ts
Due: unit

upgrade to use postgres tests
  __tests__/story-6.6-qa-test.js
  app/api/content-items/route.ts
  app/api/sync/start-deployment/route.ts
  app/api/v1/sync/conflicts/route.ts
  docs/stories/6.6.story.md
  prisma/schema.postgresql.prisma
Due: integration

story update
  docs/stories/6.6.story.md
Due: none

demo
  app/demo/export/page.tsx
  app/demo/import/page.tsx
  components/studio/deployment/export-demo.tsx
  components/studio/deployment/import-demo.tsx
Due: unit, integration

fix: resolve content creation validation errors in AI tools
  lib/ai-tools/tools/content-items/create-content-item.ts
  lib/api/validation/content-item.ts
Due: unit

migrate to use postgres
  app/(dashboard)/content/page.tsx
  app/api/ai-context/[sessionId]/route.ts
  docs/stories/6.7.story.md
  lib/ai-tools/audit-logger.ts
  lib/services/ai-context-service.ts
  prisma/migrations/20250818071637_add_aicontext_table/migration.sql
  prisma/seed.ts
Due: unit, integration

feat(sync): implement persistent sync state management
  app/api/v1/sync/state/__tests__/route.test.ts
  app/api/v1/sync/state/route.ts
  components/sync/SyncStateDisplay.tsx
  docs/stories/6.7.story.md
  hooks/__tests__/useSyncState.test.ts
  hooks/useSyncState.ts
  lib/services/deployment-service.ts
  lib/sync/conflict/ConflictDetector.ts
  lib/sync/detection/ChangeDetector.ts
  lib/sync/state/SyncStateManager.ts
  lib/sync/state/__tests__/SyncStateManager.test.ts
  lib/sync/state/__tests__/prisma-syncstate.test.ts
  prisma/migrations/20250818085353_update_sync_state_table/migration.sql
  prisma/schema.prisma
Due: unit, integration

docs: update story 6.7 with completion status
  docs/stories/6.7.story.md
Due: none

docs: add QA review results for story 6.7
  docs/stories/6.7.story.md
Due: none

fix: address PR review issues for sync state management
  hooks/useSyncState.ts
  lib/sync/state/SyncStateManager.ts
  prisma/migrations/20250818085353_update_sync_state_table/migration.sql
Due: unit

fix: correct TypeScript type conversion for syncProgress
  lib/sync/state/SyncStateManager.ts
Due: unit

feat(sync): implement validation layer for content type synchronization
  docs/stories/6.8.story.md
  lib/deployment/deployment-types.ts
  lib/sync/engine/SyncEngine.ts
  lib/sync/engine/__tests__/SyncEngine.integration.test.ts
  lib/sync/validation/CompatibilityChecker.ts
  lib/sync/validation/ContentTypeValidator.ts
  lib/sync/validation/ValidationErrorReporter.ts
  lib/sync/validation/__tests__/CompatibilityChecker.test.ts
  lib/sync/validation/__tests__/ContentTypeValidator.test.ts
  lib/sync/validation/__tests__/ValidationErrorReporter.test.ts
Due: unit

docs: update story 6.8 with completion status and PR link
  docs/stories/6.8.story.md
Due: none

story 6.8 done
  docs/stories/6.8.story.md
Due: none

feat(sync): implement dashboard integration for sync status monitoring
  __tests__/integration/sync-dashboard-integration.test.tsx
  app/api/sync/__tests__/sync-api.test.ts
  app/api/sync/analytics/route.ts
  app/api/sync/conflicts/route.ts
  app/api/sync/history/route.ts
  app/api/sync/status/route.ts
  app/api/sync/status/stream/route.ts
  components/deployment/deployment-history.tsx
  components/deployment/deployment-wizard.tsx
  components/sync/__tests__/sync-components.test.tsx
  components/sync/conflict-resolution-panel.tsx
  components/sync/sync-analytics-dashboard.tsx
  components/sync/sync-status-display.tsx
  components/sync/version-history-browser.tsx
  docs/stories/6.10.story.md
  docs/stories/6.9.story.md
  lib/sync/realtime/sync-status-service.ts
Due: unit, integration

docs: add PR link to story 6.9 completion record
  docs/stories/6.9.story.md
Due: none

fix: resolve QA issues from Story 6.9 review
  .gitignore
  app/api/sync/__tests__/sync-api.test.ts
  app/api/sync/status/route.ts
  components/deployment/deployment-history.tsx
  docs/stories/6.9.story.md
Due: unit, integration

Path conditions:
  unit: any of: components/, hooks/, lib/, but not: **/*.d.ts, lib/generated/**, coverage/**, jest.config.js, jest.setup.js, jest.sequencer.js, jest.global-setup.js, jest.global-teardown.js, playwright.config.ts, next.config.ts, tailwind.config.ts, postcss.config.mjs, scripts/**, prisma/**, docs/**, **/__tests__/**, **/test-*, app/layout.tsx, app/page.tsx, app/**/layout.tsx, app/**/loading.tsx, app/**/not-found.tsx, app/**/error.tsx
  integration: any of: app/, but not: **/*.d.ts, lib/generated/**, coverage/**, jest.config.js, jest.setup.js, jest.sequencer.js, jest.global-setup.js, jest.global-teardown.js, playwright.config.ts, next.config.ts, tailwind.config.ts, postcss.config.mjs, scripts/**, prisma/**, docs/**, **/__tests__/**, **/test-*, app/layout.tsx, app/page.tsx, app/**/layout.tsx, app/**/loading.tsx, app/**/not-found.tsx, app/**/error.tsx
