Repository zanganeh/catalyst-studio: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

remove incorrect files
  lib/prompts/context/universal-type-context.ts
  lib/prompts/loaders/__tests__/primitive-type-loader.test.ts
  lib/prompts/loaders/database-type-loader.ts
  lib/prompts/loaders/primitive-type-loader.ts
  lib/prompts/loaders/property-loader.ts
  prompts/universal-types/platform/capability-matrix.json
  prompts/universal-types/rules/generation-rules.md
  prompts/universal-types/templates/content-type-generation.md
  prompts/universal-types/templates/duplication-check.md
Due: unit

remove wrong file
  prompts/universal-types/validation/confidence-scorer.ts
  prompts/universal-types/validation/validator.ts
Due: none

remove wrong files
  prompts/universal-types/examples/dynamic-loader.ts
  prompts/universal-types/examples/static-examples.json
Due: none

feat: Implement universal type generation system with dynamic loading
  __tests__/prompts/universal-type-generation.test.ts
  app/demo/sitemap-builder/page.tsx
  components/content-builder/content-type-builder.tsx
  components/content-builder/field-properties-panel.tsx
  components/studio/deployment/demo-layout.tsx
  components/studio/deployment/export-demo.tsx
  components/studio/deployment/import-demo.tsx
  docs/stories/7.5.migration-transformation-engine.story.md
  docs/stories/7.6.app-integration.story.md
  docs/stories/backlog.md
  lib/ai-tools/__tests__/business-rules.test.ts
  lib/ai-tools/business-rules.ts
  lib/ai-tools/tools/content-items/create-content-item.ts
  lib/ai-tools/tools/content-items/update-content-item.ts
  lib/ai-tools/tools/content-types/create-content-type.ts
  lib/ai-tools/tools/content-types/update-content-type.ts
  lib/hooks/use-content-type-validation.ts
  lib/services/content-type-service.ts
  lib/services/universal-types/client.ts
  lib/services/universal-types/database-type-loader.ts
  lib/services/universal-types/examples/dynamic-loader.ts
  lib/services/universal-types/examples/static-examples.json
  lib/services/universal-types/index.ts
  lib/services/universal-types/primitive-type-loader.ts
  lib/services/universal-types/property-loader.ts
  lib/services/universal-types/universal-type-context.ts
  lib/services/universal-types/validation/confidence-scorer.ts
  lib/services/universal-types/validation/index.ts
  lib/services/universal-types/validation/validator.ts
Due: unit, integration

feat: Complete Story 7.4 - Universal Type System Integration
  docs/stories/7.4.ai-integration.story.md
  lib/services/universal-types/universal-type-context.ts
Due: unit

fix(universal-types): address QA findings and improve type safety
  docs/stories/7.4.ai-integration.story.md
  lib/services/universal-types/database-type-loader.ts
  lib/services/universal-types/primitive-type-loader.ts
  lib/services/universal-types/universal-type-context.ts
  lib/services/universal-types/utils/errors.ts
  lib/services/universal-types/utils/input-sanitizer.ts
  lib/services/universal-types/validation/validator.ts
Due: unit

feat(story-7.4a): Implement category field for page/component distinction
  CLAUDE.md
  components/content-builder/content-type-builder.tsx
  docs/stories/7.4a.category-field-implementation.story.md
  lib/ai-tools/tools/content-types/create-content-type.ts
  lib/ai-tools/tools/content-types/update-content-type.ts
  lib/api/validation/content-type.ts
  lib/prompts/types.ts
  lib/services/ai-prompt-processor.ts
  lib/services/content-type-service.ts
  lib/services/universal-types/client.ts
  lib/services/universal-types/database-type-loader.ts
  lib/services/universal-types/index.ts
  lib/services/universal-types/property-loader.ts
  lib/services/universal-types/utils/errors.ts
  lib/services/universal-types/validation/validator.ts
  prisma/migrations/20250818023621_init_postgresql/migration.sql
  prisma/schema.prisma
  prisma/seed.ts
Due: unit

feat(story-7.4a): Add category field to ContentType interface
  lib/content-types/types.ts
Due: unit

feat: Complete Story 7.4a - Category field implementation for content types
  __tests__/content-types/category-field.test.ts
  __tests__/integration/category-workflow.test.tsx
  __tests__/regression/category-field-regression.test.ts
  components/content-builder/category-selector-modal.tsx
  components/content-builder/content-type-builder.tsx
  docs/api/content-type-category.md
  docs/stories/7.4a.category-field-implementation.story.md
  lib/content-types/types.ts
  lib/context/content-type-context.tsx
Due: unit

feat(story-7.4a): Add PostgreSQL ENUM type for category field
  docs/stories/7.4a.category-field-implementation.story.md
  prisma/migrations/20250818023621_init_postgresql/migration.sql
  prisma/schema.prisma
Due: none

fix: Remove incorrect category-based website theme logic
  lib/services/ai-prompt-processor.ts
Due: unit

feat: Epic 7 Story 6 - Update Application Layer & Testing
  .env.example
  __tests__/providers/provider-injection.test.ts
  app/api/sync/start-deployment/route.ts
  components/providers.tsx
  docs/stories/7.6.app-integration.story.md
  docs/stories/7.7.documentation.story.md
  lib/providers/__tests__/mock-provider.test.ts
  lib/providers/__tests__/registry.test.ts
  lib/providers/config.ts
  lib/providers/context/index.ts
  lib/providers/context/provider-context.tsx
  lib/providers/factory.ts
  lib/providers/mock/MockProvider.ts
  lib/providers/mock/index.ts
  lib/providers/mock/mock-provider.ts
  lib/providers/optimizely/OptimizelyProvider.ts
  lib/providers/types.ts
  lib/services/deployment-service.ts
Due: unit, integration

fix: Resolve TypeScript build errors and test failures for Story 7.6
  README.md
  __tests__/providers/provider-injection.test.ts
  app/api/ai-context/[sessionId]/route.ts
  app/api/chat/route.ts
  app/api/content-items/route.ts
  app/api/sync/__tests__/sync-api.test.ts
  app/api/sync/analytics/route.ts
  app/api/sync/conflicts/route.ts
  app/api/sync/start-deployment/route.ts
  app/api/v1/sync/changes/route.test.ts
  app/api/v1/sync/conflicts/route.ts
  app/api/v1/sync/state/__tests__/route.test.ts
  app/api/websites/[id]/route.ts
  app/api/websites/__tests__/test-helpers.ts
  app/api/websites/route.ts
  components/providers.tsx
  docs/stories/7.6.app-integration.story.md
  lib/providers/__tests__/mock-provider.test.ts
  lib/providers/mock/mock-provider.ts
  lib/providers/optimizely/type-provider.test.ts
  next.config.ts
Due: unit, integration

fix: Resolve ErrorBoundary test failure and component bug
  __tests__/components.test.tsx
  components/error-boundary.tsx
Due: unit

docs: Epic 7 Story 7.7 - Documentation & AI Training Data
  .env.example
  CLAUDE.md
  README.md
  docs/api/provider-patterns.md
  docs/provider-development-guide.md
  docs/transformation-examples-catalog.md
  prompts/universal-types/generation-rules.md
  prompts/universal-types/platform-mappings.json
  prompts/universal-types/type-examples.json
  prompts/universal-types/validation-rules.md
Due: none

docs: Update story 7.7 status to Ready for Review
  docs/stories/7.7.documentation.story.md
Due: none

qa: Add QA review results for Story 7.7
  docs/stories/7.7.documentation.story.md
Due: none

demo prep
  app/demo/sitemap-builder/page.tsx
  app/demo/style-guide/page.tsx
  app/demo/wireframe/page.tsx
  components/studio/deployment/export-demo.tsx
  components/studio/deployment/import-demo.tsx
  package-lock.json
  package.json
Due: unit, integration

epic 8 structure
  docs/epic8-architecture-consensus.md
  docs/epic8-brownfield-architecture.md
  docs/epic8-brownfield-prd.md
  docs/epic8-project-brief.md
  docs/epic8-requirement.md
  docs/stories/8.1.database-schema-implementation.story.md
Due: none

end of epic7 cleanup
  docs/archive/epic-7/7.0.environment-setup.story.md
  docs/archive/epic-7/7.1.provider-foundation.story.md
  docs/archive/epic-7/7.2.optimizely-extraction.story.md
  docs/archive/epic-7/7.3.qa-final-report.md
  docs/archive/epic-7/7.3.type-system-implementation.story.md
  docs/archive/epic-7/7.4.ai-integration.story.md
  docs/archive/epic-7/7.4a.category-field-implementation.story.md
  docs/archive/epic-7/7.6.app-integration.story.md
  docs/archive/epic7-architecture.md
  docs/archive/epic7-prd.md
  docs/archive/epic7-project-brief.md
  docs/archive/epic7-requirement.md
Due: none

last part!
  docs/archive/epic-7/7.7.documentation.story.md
Due: none

feat: implement site structure database schema for Epic 8
  __tests__/epic-8/site-structure-schema.test.ts
  docs/stories/8.1.database-schema-implementation.story.md
  prisma/schema.prisma
  prisma/seed.ts
Due: none

qa: Add QA review results for Story 8.1
  __tests__/epic-8/site-structure-schema.test.ts
  docs/stories/8.1.database-schema-implementation.story.md
  prisma/migrations/20250818085353_update_sync_state_table/migration.sql
  prisma/schema.prisma
Due: none

fix: Update CI workflow to use PostgreSQL instead of SQLite
  .github/workflows/test-coverage.yml
Due: none

story 8.2 prep
  docs/stories/8.2.slug-management-system.story.md
Due: none

feat: implement slug management system for site structures
  lib/services/site-structure/__tests__/slug-integration.test.ts
  lib/services/site-structure/__tests__/slug-manager.test.ts
  lib/services/site-structure/__tests__/slug-validator.test.ts
  lib/services/site-structure/errors.ts
  lib/services/site-structure/slug-manager.ts
  lib/services/site-structure/slug-validator.ts
Due: unit

docs: update story 8.2 with completion status and dev agent record
  docs/stories/8.2.slug-management-system.story.md
Due: none

fix: resolve TypeScript errors and test failures in slug management
  docs/epic8-brownfield-architecture.md
  docs/epic8-brownfield-prd.md
  docs/stories/8.2.slug-management-system.story.md
  lib/services/site-structure/__tests__/slug-integration.test.ts
  lib/services/site-structure/__tests__/slug-validator.test.ts
  lib/services/site-structure/slug-validator.ts
Due: unit

push the changes based architecture change
  docs/epic8-brownfield-prd.md
  docs/stories/8.3.page-orchestration-api.story.md
Due: none

feat: implement Page Orchestration API for atomic content and structure management
  app/api/pages/[id]/move/route.ts
  app/api/pages/[id]/route.ts
  app/api/pages/__tests__/pages.integration.test.ts
  app/api/pages/resolve/route.ts
  app/api/pages/route.ts
  docs/stories/8.3.page-orchestration-api.story.md
  docs/stories/8.4.site-structure-service-layer.story.md
  lib/services/site-structure/__tests__/page-orchestrator.test.ts
  lib/services/site-structure/errors.ts
  lib/services/site-structure/page-orchestrator.ts
  lib/types/page-orchestrator.types.ts
Due: unit, integration

docs: update story 8.3 status to Ready for Review
  docs/stories/8.3.page-orchestration-api.story.md
Due: none

feat: complete page orchestration API with QA improvements
  app/api/pages/[id]/route.ts
  app/api/pages/__tests__/pages.integration.test.ts
  app/api/pages/route.ts
  docs/stories/8.3.page-orchestration-api.story.md
  docs/stories/8.4.site-structure-service-layer.story.md
  lib/services/site-structure/__tests__/page-orchestrator.test.ts
  lib/services/site-structure/page-orchestrator.ts
  lib/types/page-orchestrator.types.ts
Due: unit, integration

feat: enhance sitemap builder with professional features
  app/demo/sitemap-builder/page.tsx
  components/studio/sitemap/context-menu.tsx
  components/studio/sitemap/custom-nodes.tsx
  components/studio/sitemap/enhanced-nodes.tsx
  components/studio/sitemap/import-modal.tsx
  components/studio/sitemap/loading-skeleton.tsx
  components/studio/sitemap/node-edit-dialog.tsx
  components/studio/sitemap/section-templates.tsx
  components/ui/context-menu.tsx
  docs/sitemap-builder-gap-analysis.md
  lib/sitemap/auto-layout.ts
  package-lock.json
  package.json
  pnpm-lock.yaml
Due: unit, integration

cleanup
  docs/sitemap-builder-gap-analysis.md
Due: none

feat: implement Site Structure Service Layer (Story 8.4)
  lib/services/site-structure/__tests__/site-structure-service.integration.test.ts
  lib/services/site-structure/__tests__/site-structure-service.test.ts
  lib/services/site-structure/index.ts
  lib/services/site-structure/path-manager.ts
  lib/services/site-structure/site-structure-repository.ts
  lib/services/site-structure/site-structure-service.ts
  lib/types/site-structure.types.ts
Due: unit

fix: resolve integration test failures and add Big O documentation
  docs/stories/8.4.site-structure-service-layer.story.md
  lib/services/site-structure/__tests__/site-structure-service.integration.test.ts
  lib/services/site-structure/site-structure-service.ts
Due: unit

fix: adjust coverage thresholds for MVP
  jest.config.js
Due: none

fix: add missing error classes for site structure service
  docs/epic8-brownfield-architecture.md
  docs/epic8-brownfield-prd.md
  docs/stories/8.5.ai-site-generation-engine.story.md
  lib/services/site-structure/errors.ts
  lib/services/site-structure/index.ts
Due: unit

need to re-create 8.5 later
  docs/stories/8.5.ai-site-generation-engine.story.md
Due: none

make sure previosu stories are marked as done
  docs/stories/8.1.database-schema-implementation.story.md
  docs/stories/8.3.page-orchestration-api.story.md
  docs/stories/8.4.site-structure-service-layer.story.md
Due: none

Path conditions:
  unit: any of: components/, hooks/, lib/, but not: **/*.d.ts, lib/generated/**, coverage/**, jest.config.js, jest.setup.js, jest.sequencer.js, jest.global-setup.js, jest.global-teardown.js, playwright.config.ts, next.config.ts, tailwind.config.ts, postcss.config.mjs, scripts/**, prisma/**, docs/**, **/__tests__/**, **/test-*, app/layout.tsx, app/page.tsx, app/**/layout.tsx, app/**/loading.tsx, app/**/not-found.tsx, app/**/error.tsx
  integration: any of: app/, but not: **/*.d.ts, lib/generated/**, coverage/**, jest.config.js, jest.setup.js, jest.sequencer.js, jest.global-setup.js, jest.global-teardown.js, playwright.config.ts, next.config.ts, tailwind.config.ts, postcss.config.mjs, scripts/**, prisma/**, docs/**, **/__tests__/**, **/test-*, app/layout.tsx, app/page.tsx, app/**/layout.tsx, app/**/loading.tsx, app/**/not-found.tsx, app/**/error.tsx
