Repository zanganeh/catalyst-studio: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

story 6.9 done
  docs/stories/6.9.story.md
Due: none

fix: remove all authentication/CSRF code for MVP compliance
  .gitignore
  app/api/csrf-token/route.ts
  app/api/sync/start-deployment/route.ts
  app/api/sync/status/route.ts
  app/studio/deployment/page.tsx
  lib/security/csrf.ts
  lib/utils/api-client.ts
Due: unit, integration

PM update
  docs/epic7-requirement.md
  docs/epic8-chat-ux-requirements.md
Due: none

fix: apply QA recommendations for UPDATE/DELETE operations
  docs/epic7-project-brief.md
  docs/stories/6.10.story.md
  lib/sync/adapters/__tests__/optimizely-api-client.test.ts
  lib/sync/adapters/optimizely-api-client.ts
  lib/sync/engine/sync-orchestrator.ts
Due: unit

qa update
  docs/stories/6.10.story.md
Due: none

fix: resolve deployment panel scrolling issue
  app/studio/deployment/page.tsx
  components/deployment/deployment-progress.tsx
  components/glass-morphism.tsx
  components/layout/layout-container.tsx
  components/studio/studio-shell.tsx
  lib/sync/client/sync-service.ts
Due: unit, integration

epic 6 wrap up
  docs/archive/data-storage-requirement.md
  docs/archive/epic-6/6.1.story.md
  docs/archive/epic-6/6.10.story.md
  docs/archive/epic-6/6.2.story.md
  docs/archive/epic-6/6.3.story.md
  docs/archive/epic-6/6.4-optimizely-sync.story.md
  docs/archive/epic-6/6.5.story.md
  docs/archive/epic-6/6.6.story.md
  docs/archive/epic-6/6.7.story.md
  docs/archive/epic-6/6.8.story.md
  docs/archive/epic-6/6.9.story.md
  docs/archive/epic6-architecture.md
  docs/archive/epic6-prd.md
  docs/archive/epic6-project-brief.md
  docs/archive/epic6-requirements.md
Due: none

fix: resolve JSON parsing errors in API routes
  app/api/content-items/route.ts
  app/api/sync/start-deployment/route.ts
  lib/sync/extractors/database-extractor.ts
Due: unit, integration

cleanup
  prisma/schema.prisma
Due: none

feat: Epic 7 Story 7.0 - Environment Setup & Credential Management
  README.md
  docs/setup/local-development.md
  docs/setup/optimizely-credentials.md
  docs/setup/troubleshooting.md
  docs/stories/7.0.environment-setup.story.md
  mock-data/optimizely/blocks.json
  mock-data/optimizely/content-types.json
  mock-data/optimizely/pages.json
Due: none

epic 7 foundaiton
  docs/epic7-architecture.md
  docs/epic7-prd.md
  docs/epic7-project-brief.md
  docs/stories/7.0.environment-setup.story.md
  docs/stories/7.1.provider-foundation.story.md
Due: none

fix wrong path
  lib/db/client.ts
Due: unit

feat: Epic 7 Story 7.1 - Provider Architecture Foundation & Interface Definition
  app/api/ai-context/[sessionId]/route.ts
  app/api/chat/route.ts
  app/api/content-items/[id]/route.ts
  app/api/content-items/bulk/route.ts
  app/api/content-items/route.ts
  app/api/sync/start-deployment/route.ts
  app/api/v1/sync/[syncId]/route.ts
  app/api/v1/sync/[syncId]/status/route.ts
  app/api/v1/sync/conflicts/route.ts
  app/api/v1/sync/type/[typeKey]/route.ts
  app/api/v1/versions/diff/route.ts
  app/api/websites/[id]/route.ts
  docs/stories/7.2.optimizely-extraction.story.md
  docs/stories/7.3.type-system-implementation.story.md
  docs/stories/7.4.ai-integration.story.md
  fix-params.js
  lib/providers/README.md
  lib/providers/__tests__/mock-provider.test.ts
  lib/providers/__tests__/registry.test.ts
  lib/providers/__tests__/types.test.ts
  lib/providers/index.ts
  lib/providers/mock/MockProvider.ts
  lib/providers/registry.ts
  lib/providers/tsconfig.json
  lib/providers/types.ts
  lib/providers/universal/common.ts
  lib/providers/universal/extensions.ts
  lib/providers/universal/primitives.ts
  lib/providers/universal/types.ts
  lib/sync/versioning/VersionHistory.ts
Due: unit, integration

docs: Update story 7.1 status to Ready for Review with PR link
  docs/stories/7.1.provider-foundation.story.md
Due: none

refactor: Rename Epic 8 to Epic 10 for Chat UX Requirements
  docs/epic10-chat-ux-requirements.md
  docs/epic8-chat-ux-requirements.md
Due: none

refactor: Story 7.1 improvements - environment-aware logging and type exports
  docs/stories/7.1.provider-foundation.story.md
  lib/providers/index.ts
  lib/providers/registry.ts
Due: unit

fix: Restore content-items API routes that were incorrectly deleted
  app/api/content-items/[id]/route.ts
  app/api/content-items/bulk/route.ts
  app/api/content-items/route.ts
Due: integration

refactor: Remove unnecessary changes from Story 7.1 PR
  app/api/ai-context/[sessionId]/route.ts
  app/api/chat/route.ts
  app/api/sync/start-deployment/route.ts
  app/api/v1/sync/[syncId]/route.ts
  app/api/v1/sync/[syncId]/status/route.ts
  app/api/v1/sync/conflicts/route.ts
  app/api/v1/sync/type/[typeKey]/route.ts
  app/api/v1/versions/diff/route.ts
  app/api/websites/[id]/route.ts
  fix-params.js
  lib/db/client.ts
Due: unit, integration

update 7.1 test result
  docs/stories/7.1.provider-foundation.story.md
Due: none

refactor: Update database schema to use ContentItem model
  prisma/migrations/20250818023621_init_postgresql/migration.sql
  prisma/schema.postgresql.prisma
Due: none

fix: Fix content store API field mapping - content vs data
  lib/stores/content-store.ts
Due: unit

feat: Extract and encapsulate Optimizely logic into provider module
  docs/stories/7.2.optimizely-extraction.story.md
  lib/providers/optimizely/OptimizelyProvider.ts
  lib/providers/optimizely/client.ts
  lib/providers/optimizely/index.ts
  lib/providers/optimizely/mappers/field-mapper.ts
  lib/providers/optimizely/mappers/type-mapper.ts
  lib/providers/optimizely/mappers/validation-mapper.ts
  lib/providers/optimizely/types.ts
  lib/providers/optimizely/utils.ts
  lib/providers/types.ts
  lib/sync/transformers/optimizely-transformer.ts
Due: unit

feat: Complete OptimizelyProvider integration and add tests
  docs/stories/7.2.optimizely-extraction.story.md
  lib/providers/index.ts
  lib/providers/optimizely/__tests__/OptimizelyProvider.test.ts
  lib/providers/optimizely/__tests__/mappers/field-mapper.test.ts
  lib/providers/optimizely/__tests__/mappers/type-mapper.test.ts
  lib/services/deployment-service.ts
  lib/sync/engine/SyncEngine.ts
  prisma/schema.postgresql.prisma
  prisma/schema.prisma
Due: unit

test: Add integration tests and performance benchmarks for OptimizelyProvider
  lib/providers/optimizely/README.md
  lib/providers/optimizely/__tests__/integration/sync-workflow.test.ts
  lib/providers/optimizely/__tests__/performance/benchmark.test.ts
  lib/providers/optimizely/mappers/field-mapper.ts
  lib/providers/optimizely/mappers/type-mapper.ts
  prisma/migrations/20250818023621_init_postgresql/migration.sql
Due: unit

docs: Update story 7.2 with completion status
  docs/stories/7.2.optimizely-extraction.story.md
Due: none

fix: Address QA findings for OptimizelyProvider
  docs/stories/7.2.optimizely-extraction.story.md
  lib/providers/optimizely/index.ts
  lib/providers/optimizely/types.ts
  lib/providers/types.ts
  lib/providers/universal/types.ts
  lib/sync/adapters/optimizely-api-client.ts
  lib/sync/engine/sync-orchestrator.ts
  prisma/migrations/20250818023621_init_postgresql/migration.sql
  prisma/schema.postgresql.prisma
  prisma/schema.prisma
Due: unit

refactor: Remove redundant schema field from ContentType model
  app/api/content-items/[id]/route.ts
  lib/ai-tools/tools/content-items/create-content-item.ts
  lib/ai-tools/tools/content-items/list-content-items.ts
  lib/ai-tools/tools/content-items/update-content-item.ts
  lib/services/content-type-service.ts
  lib/sync/extractors/database-extractor.ts
  prisma/migrations/20250818023621_init_postgresql/migration.sql
  prisma/migrations/20250818071637_add_aicontext_table/migration.sql
  prisma/schema.prisma
  prisma/seed.ts
  tests/e2e/content-items-migration.spec.ts
Due: unit, integration

update 7.2 story test result
  docs/stories/7.2.optimizely-extraction.story.md
Due: none

fix: Resolve TypeScript compilation errors in test files
  app/api/websites/__tests__/test-helpers.ts
  e2e/epic-4/studio-content-builder.spec.ts
  e2e/mobile-responsive.spec.ts
Due: none

cleanup: Remove unused database.json file
  lib/providers/universal/compatibility/database.json
Due: unit

feat: Implement proper dry run mode support
  app/api/sync/start-deployment/route.ts
  lib/providers/optimizely/OptimizelyProvider.ts
  lib/providers/optimizely/client.ts
  lib/providers/types.ts
  lib/sync/engine/SyncEngine.ts
  lib/sync/engine/sync-orchestrator.ts
  test-dry-run.js
Due: unit, integration

remove test dry run
  test-dry-run.js
Due: none

fix: Resolve all TypeScript compilation errors in Story 7.3
  docs/stories/7.3.qa-final-report.md
  docs/stories/7.3.type-system-implementation.story.md
  lib/providers/universal/compatibility/field-mapper.ts
  lib/providers/universal/extensions/loader.ts
  lib/providers/universal/extensions/optimizely/index.ts
  lib/providers/universal/fallback/strategies.ts
  lib/providers/universal/index.ts
  lib/providers/universal/transformers/pattern-transformer.ts
  lib/providers/universal/type-system.ts
  lib/providers/universal/types/extensions.ts
  lib/providers/universal/types/primitives/date/index.ts
  lib/providers/universal/types/primitives/decimal/index.ts
  lib/providers/universal/types/primitives/index.ts
  lib/providers/universal/utils/confidence-scorer.ts
  lib/sync/engine/SyncEngine.ts
  lib/sync/engine/sync-orchestrator.ts
Due: unit

the new story
  docs/stories/7.5.migration-transformation-engine.story.md
Due: none

site builder demo
  app/demo/sitemap-builder/page.tsx
Due: integration

feat: Implement hybrid AI system prompt integration for universal type generation
  CLAUDE.md
  __tests__/prompts/universal-type-generation.test.ts
  docs/stories/7.4.ai-integration.story.md
  lib/prompts/context/universal-type-context.ts
  lib/prompts/loaders/__tests__/primitive-type-loader.test.ts
  lib/prompts/loaders/database-type-loader.ts
  lib/prompts/loaders/primitive-type-loader.ts
  lib/prompts/loaders/property-loader.ts
  lib/prompts/structured-prompts.ts
  lib/prompts/types.ts
  prompts/universal-types/examples/dynamic-loader.ts
  prompts/universal-types/examples/static-examples.json
  prompts/universal-types/platform/capability-matrix.json
  prompts/universal-types/rules/generation-rules.md
  prompts/universal-types/templates/content-type-generation.md
  prompts/universal-types/templates/duplication-check.md
  prompts/universal-types/validation/confidence-scorer.ts
  prompts/universal-types/validation/validator.ts
Due: unit

chore: Update story status to Ready for Review
  docs/stories/7.4.ai-integration.story.md
Due: none

docs: Add comprehensive QA review results to Story 7.4
  docs/stories/7.4.ai-integration.story.md
Due: none

Path conditions:
  unit: any of: components/, hooks/, lib/, but not: **/*.d.ts, lib/generated/**, coverage/**, jest.config.js, jest.setup.js, jest.sequencer.js, jest.global-setup.js, jest.global-teardown.js, playwright.config.ts, next.config.ts, tailwind.config.ts, postcss.config.mjs, scripts/**, prisma/**, docs/**, **/__tests__/**, **/test-*, app/layout.tsx, app/page.tsx, app/**/layout.tsx, app/**/loading.tsx, app/**/not-found.tsx, app/**/error.tsx
  integration: any of: app/, but not: **/*.d.ts, lib/generated/**, coverage/**, jest.config.js, jest.setup.js, jest.sequencer.js, jest.global-setup.js, jest.global-teardown.js, playwright.config.ts, next.config.ts, tailwind.config.ts, postcss.config.mjs, scripts/**, prisma/**, docs/**, **/__tests__/**, **/test-*, app/layout.tsx, app/page.tsx, app/**/layout.tsx, app/**/loading.tsx, app/**/not-found.tsx, app/**/error.tsx
