Repository zanganeh/catalyst-studio: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"
  
  status:
    project:
      default:
        target: 80%
        threshold: 1%
        base: auto
    patch:
      default:
        target: 80%
        threshold: 1%
        base: auto

comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: no
  require_base: no
  require_head: yes

ignore:
  - "**/*.d.ts"
  - "lib/generated/**"
  - "coverage/**"
  - "jest.config.js"
  - "jest.setup.js"
  - "jest.sequencer.js"
  - "jest.global-setup.js"
  - "jest.global-teardown.js"
  - "playwright.config.ts"
  - "next.config.ts"
  - "tailwind.config.ts"
  - "postcss.config.mjs"
  - "scripts/**"
  - "prisma/**"
  - "docs/**"
  - "**/__tests__/**"
  - "**/test-*"
  - "app/layout.tsx"
  - "app/page.tsx"
  - "app/**/layout.tsx"
  - "app/**/loading.tsx"
  - "app/**/not-found.tsx"
  - "app/**/error.tsx"

flags:
  unit:
    paths:
      - components/
      - hooks/
      - lib/
    carryforward: true
  integration:
    paths:
      - app/
    carryforward: true

feat: implement AI Site Generator Service (Story 8.5)
  docs/stories/8.5.ai-site-generator-service.story.md
  lib/ai/openai.ts
  lib/services/__tests__/ai-site-generator.test.ts
  lib/services/ai-site-generator.README.md
  lib/services/ai-site-generator.ts
Due: unit

8.5 sotry update
  docs/stories/8.5.ai-site-generator-service.story.md
Due: none

fix: handle null siteStructure for components in AI tools
  docs/stories/8.5.ai-site-generator-service.story.md
  hooks/use-chat-persistence.ts
  lib/ai-tools/tools/index.ts
  lib/ai-tools/tools/pages/create-page.ts
  lib/ai-tools/tools/pages/index.ts
  lib/ai/openai.ts
  lib/services/__tests__/ai-site-generator.test.ts
  lib/services/ai-site-generator.README.md
  lib/services/ai-site-generator.ts
  lib/services/unified-page-service.ts
  lib/types/unified-response.types.ts
Due: unit

package-lock missing file
  package-lock.json
Due: none

test: add comprehensive unit tests for UnifiedPageService
  docs/stories/8.5.ai-site-generator-service.story.md
  docs/stories/8.6.react-flow-canvas-setup.story.md
  lib/services/__tests__/unified-page-service.test.ts
Due: none

refactor: clean up deprecated createContentItem and improve code organization
  docs/stories/8.5.ai-site-generator-service.story.md
  lib/ai-tools/tools/content-items/__tests__/create-content-item.test.ts
  lib/ai-tools/tools/content-items/create-content-item.ts
  lib/ai-tools/tools/content-items/index.ts
  lib/ai-tools/tools/index.ts
  lib/ai-tools/tools/pages/create-page.ts
  lib/services/unified-page-service.ts
  lib/utils/content-type-utils.ts
Due: unit

refactor: remove deprecated createContentItem and fully migrate to createPage
  components/chat/__tests__/tool-execution-display.test.tsx
  components/chat/tool-execution-display.tsx
  lib/ai-tools/tools/index.ts
  lib/api/content-items.ts
  lib/services/unified-page-service.ts
  lib/stores/content-store.ts
  tests/epic-5/ai-tools.test.ts
  tests/epic-5/content-item-tools.test.ts
  tests/epic-5/error-recovery.test.ts
  tests/epic-5/performance.test.ts
Due: unit

feat: premium sitemap builder with advanced features
  .gitignore
  app/demo/sitemap-builder/page.tsx
  app/demo/sitemap-builder/sitemap-print.css
  components/studio/deployment/demo-layout-fullwidth.tsx
  components/studio/sitemap/advanced-filters.tsx
  components/studio/sitemap/ai-suggestions-enhanced.tsx
  components/studio/sitemap/ai-suggestions.tsx
  components/studio/sitemap/comments-system.tsx
  components/studio/sitemap/context-menu.tsx
  components/studio/sitemap/export-manager.tsx
  components/studio/sitemap/global-sections-library.tsx
  components/studio/sitemap/keyboard-shortcuts-help.tsx
  components/studio/sitemap/professional-nodes.tsx
  components/studio/sitemap/quick-actions-menu.tsx
  components/studio/sitemap/responsive-wrapper.tsx
  components/studio/sitemap/section-picker.tsx
  components/studio/sitemap/share-export-modal.tsx
  components/studio/sitemap/templates-modal.tsx
  components/studio/sitemap/version-history.tsx
  components/studio/sitemap/virtual-canvas.tsx
  components/ui/avatar.tsx
  components/ui/context-menu.tsx
  hooks/use-sitemap-performance.ts
  lib/sitemap/export-utils.ts
  package-lock.json
  package.json
  pnpm-lock.yaml
  scripts/backup-state.js
  scripts/migrate-to-premium.js
Due: unit, integration

refactor: reorganize premium features into dedicated directories
  .github/premium-files.txt
  .github/workflows/sync-to-public.yml
  app/premium-demo/export/page.tsx
  app/premium-demo/import/page.tsx
  app/premium-demo/sitemap-builder/page.tsx
  app/premium-demo/sitemap-builder/sitemap-print.css
  app/premium-demo/style-guide/page.tsx
  app/premium-demo/wireframe/page.tsx
  components/premium/layouts/demo-layout-fullwidth.tsx
  components/premium/sitemap/advanced-filters.tsx
  components/premium/sitemap/ai-suggestions-enhanced.tsx
  components/premium/sitemap/comments-system.tsx
  components/premium/sitemap/export-manager.tsx
  components/premium/sitemap/global-sections-library.tsx
  components/premium/sitemap/keyboard-shortcuts-help.tsx
  components/premium/sitemap/professional-nodes.tsx
  components/premium/sitemap/quick-actions-menu.tsx
  components/premium/sitemap/responsive-wrapper.tsx
  components/premium/sitemap/section-picker.tsx
  components/premium/sitemap/share-export-modal.tsx
  components/premium/sitemap/templates-modal.tsx
  components/premium/sitemap/version-history.tsx
  components/premium/sitemap/virtual-canvas.tsx
  components/premium/ui/avatar.tsx
  hooks/premium/use-sitemap-performance.ts
  lib/premium/export-utils.ts
  scripts/fix-imports.js
  scripts/reorganize-premium.js
  scripts/repo-status.js
Due: unit, integration

refactor: consolidate all premium content under lib/premium
  .github/workflows/sync-to-public.yml
  lib/premium/components/layouts/demo-layout-fullwidth.tsx
  lib/premium/components/sitemap/advanced-filters.tsx
  lib/premium/components/sitemap/ai-suggestions-enhanced.tsx
  lib/premium/components/sitemap/comments-system.tsx
  lib/premium/components/sitemap/export-manager.tsx
  lib/premium/components/sitemap/global-sections-library.tsx
  lib/premium/components/sitemap/keyboard-shortcuts-help.tsx
  lib/premium/components/sitemap/professional-nodes.tsx
  lib/premium/components/sitemap/quick-actions-menu.tsx
  lib/premium/components/sitemap/responsive-wrapper.tsx
  lib/premium/components/sitemap/section-picker.tsx
  lib/premium/components/sitemap/share-export-modal.tsx
  lib/premium/components/sitemap/templates-modal.tsx
  lib/premium/components/sitemap/version-history.tsx
  lib/premium/components/sitemap/virtual-canvas.tsx
  lib/premium/components/ui/avatar.tsx
  lib/premium/demo-app/export/page.tsx
  lib/premium/demo-app/import/page.tsx
  lib/premium/demo-app/sitemap-builder/page.tsx
  lib/premium/demo-app/sitemap-builder/sitemap-print.css
  lib/premium/demo-app/style-guide/page.tsx
  lib/premium/demo-app/wireframe/page.tsx
  lib/premium/hooks/use-sitemap-performance.ts
  scripts/consolidate-premium.js
Due: unit

docs: add repository organization guide for premium/open-source separation
  CLAUDE.md
Due: none

docs: improve repository instructions and fix GitHub Action
  .github/workflows/sync-to-public.yml
  CLAUDE.md
Due: none

refactor: reorganize premium features for proper repository separation
  .github/workflows/sync-to-public.yml
  app/premium/demo/export/page.tsx
  app/premium/demo/import/page.tsx
  app/premium/demo/sitemap-builder/page.tsx
  app/premium/demo/sitemap-builder/sitemap-print.css
  app/premium/demo/style-guide/page.tsx
  app/premium/demo/wireframe/page.tsx
  lib/premium/components/sitemap/comments-system.tsx
  tailwind.config.ts
Due: unit, integration

fix: update GitHub Action to use proper authentication for cross-repo push
  .github/workflows/sync-to-public.yml
Due: none

fix: remove sync workflow from public repo to avoid workflow scope requirement
  .github/workflows/sync-to-public.yml
Due: none

test: verify sync workflow works correctly
  README.md
Due: none

docs: update Epic 8 PRD and add URL resolution story
  docs/epic8-brownfield-prd.md
  docs/stories/8.6.react-flow-canvas-setup.story.md
  docs/stories/8.8.url-resolution-routing.story.md
Due: none

feat: implement URL resolution and routing system (Story 8.8)
  app/__tests__/not-found.test.tsx
  app/api/pages/resolve/route.test.ts
  app/api/pages/resolve/route.ts
  app/api/redirects/bulk/route.ts
  app/api/redirects/route.ts
  app/not-found.tsx
  docs/stories/8.8.url-resolution-routing.story.md
  lib/services/__tests__/redirect-service.test.ts
  lib/services/logging/404-logger.ts
  lib/services/redirect-service.ts
  lib/services/types.ts
  lib/services/url-resolution/__tests__/url-resolver.performance.test.ts
  lib/services/url-resolution/__tests__/url-resolver.test.ts
  lib/services/url-resolution/url-resolver.ts
  middleware.test.ts
  middleware.ts
  prisma/schema.prisma
  tests/load/url-resolution.load.test.ts
Due: unit, integration

feat: implement URL resolution and routing system (Story 8.8)
  app/[...slug]/page.tsx
  app/not-found.tsx
  docs/stories/8.8.url-resolution-routing.story.md
  middleware.ts
  prisma/migrations/20250818023621_init_postgresql/migration.sql
Due: integration

fix: remove hardcoded website ID that breaks on DB refresh
  .env.example
  app/[...slug]/page.tsx
Due: integration

refactor: replace default website concept with proper multi-tenant resolution
  .env.example
  app/[...slug]/page.tsx
  lib/services/website-resolver.ts
Due: unit, integration

feat: update demo configurations and speed improvements
  components/studio/deployment/export-demo.tsx
  components/studio/deployment/import-demo.tsx
Due: unit

epic 8 closure and prep for epic 9
  docs/archive/epic-8/8.1.database-schema-implementation.story.md
  docs/archive/epic-8/8.2.slug-management-system.story.md
  docs/archive/epic-8/8.3.page-orchestration-api.story.md
  docs/archive/epic-8/8.4.site-structure-service-layer.story.md
  docs/archive/epic-8/8.5.ai-site-generator-service.story.md
  docs/archive/epic-8/8.8.url-resolution-routing.story.md
  docs/archive/epic8-architecture-consensus.md
  docs/archive/epic8-brownfield-architecture.md
  docs/archive/epic8-brownfield-prd.md
  docs/archive/epic8-project-brief.md
  docs/archive/epic8-requirement.md
  docs/epic9-brownfield-architecture.md
  docs/epic9-brownfield-prd.md
  docs/epic9-implementation-guide.md
  docs/epic9-project-brief.md
Due: none

feat(EPIC9-001): add folder enum to ContentTypeCategory
  docs/stories/9.1.database-setup.story.md
  prisma/migrations/20250825061417_add_folder_category/migration.sql
  prisma/schema.prisma
Due: none

docs: update story 9.1 completion status and dev notes
  docs/stories/9.1.database-setup.story.md
Due: none

refactor: add folder support to content-type-utils
  lib/utils/content-type-utils.ts
Due: unit

docs: update story 9.1 with QA results and approval
  docs/stories/9.1.database-setup.story.md
Due: none

fix: add missing folder enum to validation schemas and TypeScript types
  lib/ai-tools/tools/content-types/create-content-type.ts
  lib/api/validation/content-type.ts
  lib/content-types/types.ts
Due: unit

update accoridngly to PRD
  docs/epic9-brownfield-architecture.md
Due: none

feat(9.2): implement global components for sitemap builder
  docs/stories/9.2.global-components.story.md
  docs/stories/9.3.layout-engine.story.md
  lib/premium/components/globals/cta/defaults.ts
  lib/premium/components/globals/cta/index.tsx
  lib/premium/components/globals/cta/schema.ts
  lib/premium/components/globals/cta/types.ts
  lib/premium/components/globals/footer/defaults.ts
  lib/premium/components/globals/footer/index.tsx
  lib/premium/components/globals/footer/schema.ts
  lib/premium/components/globals/footer/types.ts
  lib/premium/components/globals/header/defaults.ts
  lib/premium/components/globals/header/index.tsx
  lib/premium/components/globals/header/schema.ts
  lib/premium/components/globals/header/types.ts
  lib/premium/components/globals/hero/defaults.ts
  lib/premium/components/globals/hero/index.tsx
  lib/premium/components/globals/hero/schema.ts
  lib/premium/components/globals/hero/types.ts
  lib/premium/components/globals/test-components.tsx
  lib/premium/utils/component-registry.ts
Due: unit

docs: update story status to Ready for Review and mark PR task complete
  docs/stories/9.2.global-components.story.md
Due: none

fix: update global components with improved validation and Next.js best practices
  app/[...slug]/page.tsx
  app/api/pages/[id]/move/route.ts
  app/api/pages/[id]/route.ts
  app/api/pages/resolve/route.ts
  docs/stories/9.2.global-components.story.md
  lib/premium/components/globals/cta/index.tsx
  lib/premium/components/globals/cta/schema.ts
  lib/premium/components/globals/footer/index.tsx
  lib/premium/components/globals/footer/schema.ts
  lib/premium/components/globals/header/index.tsx
  lib/premium/components/globals/header/schema.ts
  lib/premium/components/globals/hero/index.tsx
  lib/premium/components/globals/hero/schema.ts
  lib/premium/components/globals/test-components.tsx
  lib/premium/utils/component-registry.ts
Due: unit, integration

fix: add critical URL validation to prevent XSS and open redirect vulnerabilities
  lib/premium/components/globals/cta/schema.ts
  lib/premium/components/globals/footer/schema.ts
  lib/premium/components/globals/header/schema.ts
  lib/premium/components/globals/hero/schema.ts
  lib/premium/components/globals/test-url-validation.tsx
  lib/premium/utils/url-validator.ts
Due: unit

feat(EPIC9-003): integrate dagre auto-layout engine
  docs/stories/9.3.layout-engine.story.md
  lib/premium/components/sitemap/layout/README.md
  lib/premium/components/sitemap/layout/__tests__/dagre-layout.test.ts
  lib/premium/components/sitemap/layout/config.ts
  lib/premium/components/sitemap/layout/dagre-layout.ts
  lib/premium/components/sitemap/layout/index.ts
  lib/premium/components/sitemap/layout/types.ts
  lib/premium/components/sitemap/layout/utils.ts
  package-lock.json
  package.json
Due: unit

docs: add QA review results and input validation
  docs/stories/9.3.layout-engine.story.md
  lib/premium/components/sitemap/layout/dagre-layout.ts
Due: unit

story 9.3 done
  docs/stories/9.3.layout-engine.story.md
Due: none

docs: add comprehensive QA test results for Epic 9.3 auto-layout engine
  docs/stories/9.3.layout-engine.story.md
Due: none

fix: properly export Pages and Components to Optimizely with correct baseTypes
  lib/sync/engine/sync-orchestrator.ts
  lib/sync/extractors/database-extractor.ts
  lib/sync/transformers/optimizely-transformer.ts
  package-lock.json
  package.json
Due: unit

update based on latest change + sotry 9.4
  docs/epic9-implementation-guide.md
  docs/stories/9.4.sitemap-connection.story.md
Due: none
