Repository zanganeh/catalyst-studio: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"
  
  status:
    project:
      default:
        target: 80%
        threshold: 1%
        base: auto
    patch:
      default:
        target: 80%
        threshold: 1%
        base: auto

comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: no
  require_base: no
  require_head: yes

ignore:
  - "**/*.d.ts"
  - "lib/generated/**"
  - "coverage/**"
  - "jest.config.js"
  - "jest.setup.js"
  - "jest.sequencer.js"
  - "jest.global-setup.js"
  - "jest.global-teardown.js"
  - "playwright.config.ts"
  - "next.config.ts"
  - "tailwind.config.ts"
  - "postcss.config.mjs"
  - "scripts/**"
  - "prisma/**"
  - "docs/**"
  - "**/__tests__/**"
  - "**/test-*"
  - "app/layout.tsx"
  - "app/page.tsx"
  - "app/**/layout.tsx"
  - "app/**/loading.tsx"
  - "app/**/not-found.tsx"
  - "app/**/error.tsx"

flags:
  unit:
    paths:
      - components/
      - hooks/
      - lib/
    carryforward: true
  integration:
    paths:
      - app/
    carryforward: true

feat(EPIC9-004): connect sitemap UI to database with save functionality
  app/api/premium/sitemap/[websiteId]/route.ts
  app/api/premium/sitemap/bulk/route.ts
  app/api/premium/sitemap/save/route.ts
  app/premium/demo/sitemap-builder/page-db.tsx
  docs/stories/9.4.sitemap-connection.story.md
  lib/premium/components/component-registry.generated.ts
  lib/premium/components/sitemap/__tests__/save-manager.test.ts
  lib/premium/components/sitemap/errors.ts
  lib/premium/components/sitemap/save-manager.ts
  lib/premium/components/sitemap/save-status-indicator.tsx
  lib/premium/components/sitemap/transforms/__tests__/to-react-flow.test.ts
  lib/premium/components/sitemap/transforms/from-react-flow.ts
  lib/premium/components/sitemap/transforms/to-react-flow.ts
  lib/premium/components/sitemap/types.ts
  lib/premium/components/sitemap/undo-manager.ts
  lib/premium/hooks/use-auto-save.ts
  lib/premium/stores/sitemap-store.ts
  package.json
  scripts/generate-component-registry.js
Due: unit, integration

fix: address QA critical issues for MVP
  lib/premium/components/sitemap/transforms/__tests__/to-react-flow.test.ts
  lib/premium/components/sitemap/transforms/from-react-flow.ts
  lib/premium/components/sitemap/transforms/to-react-flow.ts
  lib/premium/components/sitemap/types/populated-tree.ts
  lib/premium/stores/sitemap-store.ts
Due: unit

feat(EPIC9-004): complete sitemap UI database connection with save functionality
  app/api/premium/sitemap/[websiteId]/route.ts
  app/api/premium/sitemap/bulk/route.ts
  app/api/premium/sitemap/save/route.ts
  app/premium/demo/sitemap-builder/page-db.tsx
  app/premium/demo/sitemap-builder/page.tsx
  app/premium/demo/style-guide/page.tsx
  components/studio/sitemap/enhanced-nodes.tsx
  docs/epic10-chat-ux-requirements.md
  docs/epic11-import-system-plan.md
  docs/epic12-content-builder-plan.md
  docs/epic13-export-system-architecture.md
  docs/epic9-brownfield-prd.md
  docs/epic9-implementation-guide.md
  docs/stories/9.4.sitemap-connection.story.md
  lib/premium/components/component-registry.generated.ts
  lib/premium/components/sitemap/bulk-operations-dialog.tsx
  lib/premium/components/sitemap/save-manager.ts
  lib/premium/components/sitemap/transforms/from-react-flow.ts
  lib/premium/components/sitemap/transforms/to-react-flow.ts
  lib/premium/components/sitemap/types.ts
  lib/premium/components/sitemap/types/populated-tree.ts
  lib/premium/stores/sitemap-store.ts
  lib/services/site-structure/site-structure-repository.ts
  prisma/seed.ts
Due: unit, integration

fix: remove authentication and rate limiting for MVP sitemap API
  app/api/premium/sitemap/bulk/route.ts
  app/api/premium/sitemap/save/route.ts
Due: integration

fix(security): address critical vulnerabilities in sitemap API endpoints
  app/api/premium/sitemap/[websiteId]/route.ts
  app/api/premium/sitemap/bulk/route.ts
  app/api/premium/sitemap/save/route.ts
Due: integration

fix: address PR review issues for sitemap connection MVP
  .gitignore
  app/api/premium/sitemap/save/route.ts
  app/api/websites/__tests__/test-helpers.ts
  app/premium/demo/export/page.tsx
  app/premium/demo/import/page.tsx
  app/premium/demo/style-guide/page.tsx
  app/premium/demo/wireframe/page.tsx
  docs/epic10-component-library-requirements.md
  lib/premium/components/sitemap/global-sections-library.tsx
  lib/premium/components/sitemap/professional-nodes.tsx
  lib/premium/components/sitemap/section-picker.tsx
  lib/premium/components/sitemap/transforms/from-react-flow.ts
  lib/premium/demo-app/sitemap-builder/page-db.tsx
  lib/premium/demo-app/sitemap-builder/page.tsx
  lib/premium/demo-app/sitemap-builder/sitemap-print.css
  lib/premium/stores/sitemap-store.ts
  lib/services/content-type-service.ts
  lib/services/redirect-service.ts
  lib/services/site-structure/path-manager.ts
  lib/services/site-structure/site-structure-repository.ts
  lib/services/site-structure/site-structure-service.ts
  lib/services/universal-types/validation/validator.ts
  lib/services/url-resolution/url-resolver.ts
Due: unit, integration

revert: restore removed premium demo files
  app/premium/demo/export/page.tsx
  app/premium/demo/import/page.tsx
  app/premium/demo/style-guide/page.tsx
  app/premium/demo/wireframe/page.tsx
  docs/stories/9.5.undo-redo-system.story.md
Due: integration

Revert "revert: restore removed premium demo files"
  app/premium/demo/export/page.tsx
  app/premium/demo/import/page.tsx
  app/premium/demo/style-guide/page.tsx
  app/premium/demo/wireframe/page.tsx
  docs/stories/9.5.undo-redo-system.story.md
Due: integration

fix: move sitemap-builder to app/premium/demo location
  app/premium/demo/sitemap-builder/page-db.tsx
  app/premium/demo/sitemap-builder/page.tsx
  app/premium/demo/sitemap-builder/sitemap-print.css
Due: integration

docs: update repository structure rules to reflect actual premium demo location
  CLAUDE.md
Due: none

story 9.5
  docs/stories/9.5.undo-redo.story.md
Due: none

refactor: move sitemap components to lib/premium and clean up unused files
  app/api/premium/sitemap/save/route.ts
  app/premium/demo/sitemap-builder/page.tsx
  components/studio/sitemap/ai-suggestions.tsx
  components/studio/sitemap/custom-nodes.tsx
  components/studio/sitemap/enhanced-nodes.tsx
  components/studio/sitemap/loading-skeleton.tsx
  components/studio/sitemap/section-templates.tsx
  docs/stories/9.5.undo-redo.story.md
  lib/premium/components/sitemap/import-modal.tsx
  lib/premium/components/sitemap/node-edit-dialog.tsx
  lib/premium/components/sitemap/types/populated-tree.ts
  lib/services/site-structure/site-structure-service.ts
  prisma/seed.ts
Due: unit, integration

feat(EPIC9-005): integrate undo/redo system with UI and keyboard shortcuts
  app/premium/demo/sitemap-builder/page.tsx
  docs/stories/9.5.undo-redo.story.md
  lib/premium/components/sitemap/undo-redo-buttons.tsx
  lib/premium/components/sitemap/visual-feedback.tsx
  lib/premium/hooks/use-undo-redo-shortcuts.ts
  lib/premium/stores/__tests__/sitemap-store-undo.test.ts
  lib/premium/stores/sitemap-store.ts
  package-lock.json
  package.json
Due: unit, integration

test(EPIC9-005): add performance tests and complete story
  docs/stories/9.5.undo-redo.story.md
  lib/premium/components/sitemap/__tests__/undo-manager-performance.test.ts
Due: none

docs(EPIC9-005): mark PR submitted and add link
  docs/stories/9.5.undo-redo.story.md
Due: none

feat: implement undo/redo system with keyboard shortcuts and UI controls
  docs/stories/9.5.undo-redo.story.md
  docs/stories/9.6.bulk-operations.story.md
  lib/premium/components/sitemap/undo-redo-buttons.tsx
  lib/premium/hooks/use-undo-redo-shortcuts.ts
  package-lock.json
  package.json
Due: unit

fix: add app/api/premium removal to sync workflow
  .github/workflows/sync-to-public.yml
Due: none

backlogs strucutre
  docs/backlog/9.6.bulk-operations.story.md
  docs/backlog/backlog.md
Due: none

epic 9 wrap up
  docs/archive/epic-9/9.1.database-setup.story.md
  docs/archive/epic-9/9.2.global-components.story.md
  docs/archive/epic-9/9.3.layout-engine.story.md
  docs/archive/epic-9/9.4.sitemap-connection.story.md
  docs/archive/epic-9/9.5.undo-redo.story.md
  docs/archive/epic9-brownfield-architecture.md
  docs/archive/epic9-brownfield-prd.md
  docs/archive/epic9-implementation-guide.md
  docs/archive/epic9-project-brief.md
  docs/backlog/9.7.save-api-integration.story.md
  docs/backlog/9.8.api-security.story.md
  docs/backlog/9.9.deployment.story.md
Due: none

fix: resolve sitemap builder persistence issues
  app/api/premium/sitemap/save/route.ts
  app/premium/demo/sitemap-builder/page.tsx
  lib/premium/hooks/use-auto-save.ts
Due: unit, integration

epic 10 setup
  docs/epic10-component-library-architecture.md
  docs/epic10-component-library-prd.md
  docs/epic10-component-library-project-brief.md
Due: none
